.about {
    padding: toRem(30) 0;

    &__description {
        display: flex;
        flex-direction: column;
        gap: toRem(30);
        margin-bottom: toRem(30);

        &Header {
            font-weight: 700;
            font-size: toRem(21);
        }

        &Paragraph {
            font-weight: 400;
            color: $darkGray;
            font-size: toRem(15);
        }
    }

    &__pledges {
        display: flex;
        flex-direction: column;
        gap: toRem(20);

        &Item {
            border: toRem(1) solid rgba(182, 182, 182, 0.4);
            border-radius: toRem(10);
            padding: toRem(20) toRem(15);

            &Heading {
                display: flex;
                flex-direction: column;
                gap: toRem(5);
                margin-bottom: toRem(25);

                &Header {
                    font-weight: 700;
                    font-size: toRem(17);
                }

                &SubHeader {
                    font-weight: 500;
                    color: $moderateCyan;
                    font-size: toRem(15);
                }
            }

            &Paragraph {
                font-size: toRem(16);
                color: $darkGray;
                margin-bottom: toRem(20);
            }

            &Bottom {
                display: flex;
                flex-direction: column;

                &Amount {
                    display: flex;
                    gap: toRem(5);
                    align-items: center;
                    margin-bottom: toRem(20);

                    &Number {
                        font-weight: 700;
                        font-size: toRem(35);
                    }

                    &Text {
                        font-size: toRem(15);
                        font-weight: 400;
                        color: $darkGray;
                    }
                }

                &Btn {
                    background-color: $moderateCyan;
                    width: 70%;
                    padding: toRem(20) toRem(25);
                    border-radius: toRem(50);
                    display: flex;
                    justify-content: center;
                    transition: ease-in-out 0.5s;

                    &:hover {
                        background-color: $darkCyan;
                        cursor: pointer;
                    }

                    &Header {
                        font-size: toRem(15);
                        color: white
                    }
                }
            }
        }
    }
}

.accentedBtn {
    background-color: $darkGray;

    &:hover {
        cursor: not-allowed;
        background-color: $darkGray;
    }
}

.accentedPledge {
    opacity: 0.5;
    pointer-events: none;
}

// Media queries
@media (min-width: $breakTablet) {
    .about__pledgesItemHeading {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .about__pledgesItemBottom {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        &Btn {
            width: 35%;
        }
    }
}