.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 250, 250);
    gap: toRem(30);
    padding-bottom: toRem(30);
}