@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Commissioner:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: none;
}

.header {
  width: 100%;
  background: url("../../assets/images/image-hero-mobile.jpg");
  background-size: cover;
  background-position: center center;
  height: 18.75rem;
  position: relative;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__navigationTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5625rem 1.25rem;
  z-index: 999;
}

.header__navigationTopRightHamburger {
  display: none;
}

.header__navigationTopRightExit {
  display: none;
}

.header__navigationTopRightDesktop {
  display: none;
}

.header__navigationBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
  width: 90%;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 0.9375rem;
  z-index: 999;
  position: absolute;
  top: -14.375rem;
  max-width: 21.125rem;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.header__navigationBottomItem {
  width: 100%;
}

.header__navigationBottomLink {
  font-size: 0.875rem;
  font-family: "Commissioner", sans-serif;
  text-decoration: none;
  color: #474646;
}

.header__navigationBottomLink:hover {
  cursor: pointer;
}

.header__navigationBottomHeader {
  padding: 1.6875rem;
  font-weight: 700;
}

hr {
  opacity: 0.2;
}

.showNav {
  top: 4.6875rem;
}

.show {
  display: block;
}

.overflowHide {
  overflow: hidden;
}

@media (min-width: 505px) {
  .header {
    height: 28.125rem;
  }
}

@media (min-width: 768px) {
  .header {
    height: 34.375rem;
  }
  .header__navigationTopRightMobile {
    display: none;
  }
  .header__navigationTopRightDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
  }
  .header__navigationTopRightDesktopLink {
    color: white;
    text-decoration: none;
    font-family: "Commissioner", sans-serif;
    font-size: 0.875rem;
  }
  .header__navigationTopRightDesktopLinkHeader {
    font-weight: 400;
  }
  .header__navigationTopRightDesktopLink:hover {
    cursor: pointer;
  }
}

@media (min-width: 992px) {
  .header {
    background-image: url("../../assets/images/image-hero-desktop.jpg");
    height: 25rem;
    background-size: fill;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  min-height: 100vh;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  background-color: white;
  border-radius: 0.9375rem;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  font-family: "Commissioner", sans-serif;
  padding: 0 1.25rem;
  max-width: 23.4375rem;
}

.card.overlapping {
  position: relative;
  top: -3.4375rem;
  margin-bottom: -1.875rem;
}

@media (min-width: 768px) {
  .card {
    max-width: 55.75rem;
    padding: 0 3.125rem;
  }
}

.project__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 18.5625rem;
}

.project__headerLogo {
  position: relative;
  bottom: 1.875rem;
}

.project__headerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__headerTextHeading {
  text-align: center;
  font-size: 1.375rem;
  margin-bottom: 1.875rem;
  width: 90%;
}

.project__headerTextParagraph {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  color: #7a7a7a;
  line-height: 1.5625rem;
  margin-bottom: 1.875rem;
}

.project__headerBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.project__headerBtnsBack {
  background-color: #3cb4ac;
  color: white;
  padding: 1.25rem 0.625rem;
  border-radius: 3.125rem;
  width: 75%;
}

.project__headerBtnsBackHeader {
  font-size: 1rem;
  text-align: center;
}

.project__headerBtnsBack:hover {
  background-color: #147b74;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.project__headerBtnsBookmark:hover {
  cursor: pointer;
}

.project__headerBtnsBookmarkHeader {
  display: none;
}

@media (min-width: 768px) {
  .project__header {
    max-width: 46.0625rem;
    width: 100%;
  }
  .project__headerBtnsBack {
    width: 40%;
  }
  .project__headerBtnsBookmark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(197, 197, 197, 0.2);
    border-radius: 6.25rem;
  }
  .project__headerBtnsBookmarkHeader {
    display: block;
    padding: 0 1.25rem;
    color: #7a7a7a;
    -webkit-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s;
  }
}

.bookmarked {
  color: #147b74;
  fill: #147b74;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.bookmarkedPath {
  fill: white;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.amounts {
  padding: 1.875rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: -1.25rem;
}

.amounts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.amounts__itemHeader {
  font-size: 1.875rem;
}

.amounts__itemSubHeader {
  font-weight: 400;
  color: #7a7a7a;
  font-size: 0.875rem;
}

.amounts__line {
  width: 30%;
  margin-bottom: 1.25rem;
  max-width: 5.625rem;
}

.amounts__slider {
  width: 100%;
  margin-bottom: 1.25rem;
}

.amounts__sliderBottom {
  width: 100%;
  background-color: rgba(197, 197, 197, 0.2);
  height: 0.9375rem;
  border-radius: 3.125rem;
}

.amounts__sliderTop {
  width: 89%;
  background-color: #3cb4ac;
  z-index: 9999;
  height: 0.9375rem;
  border-radius: 3.125rem;
  position: relative;
  bottom: 0.9375rem;
}

@media (min-width: 768px) {
  .amounts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .amounts__line {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 4.0625rem;
    margin-right: 1.25rem;
    margin-left: 0.625rem;
  }
}
/*# sourceMappingURL=main.css.map */