//  Colors 
$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 48%);

// Fonts
$mainFont:  'Commissioner', sans-serif; //400, 500, 700

// Breakpoints
$breakTablet: 768px;